.categoryList{
    margin-top: 3%;
    &-header{
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        &_make{
            text-decoration: none;
        }
    }
    .list{
        &-category{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin-bottom: 10px;
            p{
                width: 19%;
                text-align: center;
            }
            .categoryList-category_linker{
                width: 5%;
                text-align: center;
            }
        }
        &-headline{
            font-weight:bold;
        }
    }
}